---
import Layout from '../layouts/Layout.astro';
import Loader from '../components/Loader.astro';
---
<Loader />
<Layout title="About">
	<div><h1>Hola desde Login</h1></div>
</Layout>

<style>

</style>