---
const chatbaseUrl = "https://www.chatbase.co/chatbot-iframe/PTEvzic1zb9keSnUu7Gus";
import Bot from '../assets/chat.png'
---

<style>
   .chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E6077E;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
  .chat-button img {
    width: 30px;
    height: 30px;
  }

  .chat-window {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 350px;
    height: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: none;
  }

  .chat-window.open {
    display: block;
  }

  .close-btn {
    background: white;
    color: red;
    padding: 4px 8px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    height: 30px;
  }
</style>

<button class="chat-button" id="chat-toggle">
    <img src={Bot} alt="Chatbot Icon" />
</button>

<div class="chat-window" id="chat-window">
  <button class="close-btn" id="chat-close">✖</button>
  <iframe src={chatbaseUrl} width="100%" height="100%" style="border:none;"></iframe>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const chatButton = document.getElementById("chat-toggle");
    const chatWindow = document.getElementById("chat-window");
    const closeButton = document.getElementById("chat-close");

    if (chatButton) {
      chatButton.addEventListener("click", function () {
        if (chatWindow) {
          chatWindow.classList.toggle("open");
        }
      });
    }
    if (closeButton) {
      closeButton.addEventListener("click", function () {
        if (chatWindow) {
          chatWindow.classList.remove("open");
        }
      });
    }
  });
</script>
