---

---


<section class="pricing-table" id="pricing">
    <div class="container">
        <div class="center text-container">
            <h3 class="h1-title">Elige el plan ideal para tu negocio</h3>
            <p>Descubre cuál se adapta mejor a tus necesidades y empieza a crecer con XicoNemi</p>
        </div>

        <div class="row">
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Basico</h5>
                    <h3 class="h2-title">$9.99<span class="s-paragraph"> / month</span></h3>
                    <a href="#" class="button u-full-width">start trial</a>
                </div>

                <div class="price-list">
                  <p>Acceso a funcionalidades principales de la app.</p>
                  <p>Gestión de hasta 50 productos o servicios.</p>
                  <p>Soporte por correo electrónico.</p>
                  <p>Acceso a informes básicos de ventas y usuarios.</p>
                  <p>Integración con un solo sistema de pago.</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Avanzado</h5>
                    <h3 class="h2-title">$19.99<span class="s-paragraph"> / month</span></h3>
                    <a href="#" class="button button-primary u-full-width">start trial</a>
                </div>

                <div class="price-list">
                  <p>Todo lo del plan Básico.</p>
                  <p>Gestión de hasta 200 productos o servicios.</p>
                  <p>Soporte prioritario por correo electrónico y chat en vivo.</p>
                  <p>Informes detallados de ventas, usuarios y comportamiento.</p>
                  <p>Integración con múltiples sistemas de pago.</p>
                  <p>Acceso a herramientas de marketing básico (descuentos, promociones).</p>
                  <p>Acceso a API para integrar con otros sistemas.</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Premium</h5>
                    <h3 class="h2-title">$29.99<span class="s-paragraph"> / month</span></h3>
                    <a href="#" class="button u-full-width">start trial</a>
                </div>

                <div class="price-list">
                  <p>Todo lo del plan Avanzado.</p>
                  <p>Gestión ilimitada de productos o servicios.</p>
                  <p>Soporte VIP con asistencia personalizada 24/7.</p>
                  <p>Informes avanzados con análisis predictivo.</p>
                  <p>Integración ilimitada con sistemas de pago y herramientas de terceros.</p>
                  <p>Funcionalidades avanzadas de marketing (campañas, análisis de clientes).</p>
                  <p>Acceso a funciones beta y actualizaciones exclusivas.</p>
                  <p>Capacitación personalizada para el uso completo de la plataforma.</p>
                </div>
            </div>
        </div>
    </div>
 </section>


 <style lang="scss">

.pricing-table{
   background-color: #fff;
  .price-item{
    border: 1px solid #dde2e5;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    .price-header{
      h3 .s-paragraph{
        color: #9ba5b9;
      }
    }
    .price-list{
      p{
        margin: 10px 0;
        position: relative;
        padding-left: 20px;
        &::before{
          position: absolute;
          content: '';
          left: 0; top: 5px;
          display: inline-block;
          transform: rotate(45deg);
          height: 8px;
          width: 5px;
          border-bottom: 2px solid #9ba5b9;
          border-right: 2px solid #9ba5b9;
          z-index: 5;
        }
      }
    }
    
  }
}
 </style>